# Y is for yes, any other character is for no
use_jumphost=Y
ans_jumphost=<IP or FQDN of jumphost>
ans_usr=<the user used to login to ansible host>
ans_jump_usr=<user for ssh into jumphost - can be the same as above>
disable_hostkey_check=<Y to disable checkinig, empty or any other character to not disable it>
